h1 {
    color: orange
}

b {
    color: purple
}

hr {color: red

}

i {color: orangered
}

h3{color: 
    skyblue
}

table, th, td {
    border: 2px solid black;
}

h2 { color:
    gold
}

code { background-color: lightgray}

img {border:
5px solid black}

button {border:
0px clear white}

button {text-decoration-color: white}
